div(class="container")
  div(id='myaudio')
  div(id='tracks')
    a(id="btnPrev") &laquo
    a(id="btnNext") &raquo
  div(id='section')
  canvas(id="canvas1")
  p(id="songTitle")
  ul(id='list')
  
  
  
  
