doctype html
html(language="en")
  head
    title Test Page
    link(href="css/style.css", rel="stylesheet")
body
  include ./includes/header.jade
  include ./includes/audioPlayer.jade    
  include ./includes/footer.jade
  script( type="text/javascript" src="js/bundle.js")  


  
  
